@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

body {
	/*background: cornsilk;*/
	font-family: sans-serif;
	width: 100%;
}

.map-canvas {
	width: 100%;
	height: 80vh;
	background-color: green;
}

img {

	vertical-align: initial;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.mdh-expandable-search {
  margin: 0 50px;
  align-items: center;
  justify-content: center;
}

.mdh-expandable-search div {
  max-width: 600px;
}

.mdh-expandable-search,
.mdh-expandable-search div,
.mdh-expandable-search input {
  /* Cross browser flex-grow */
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.mdh-expandable-search,
.mdh-expandable-search div {
  /* Cross browser inline-flex */
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

/* Position search icon */
.mdh-expandable-search .material-icons {
  position: relative;
  right: -40px;
  margin-left: -24px; /* Remove the blank space left behind by the icon being relatively positioned */
}

.mdh-expandable-search input {
  outline: none;
  border: none;
  font-size: 16px;
  color: #FFFFFF;
  background-color: #78909C;
  padding: 0px 35px 0px 70px;
  height: 40px;
  line-height: 40px; /* TODO: This was recommended for cross browser compatability of input height, check if its actually needed in modern browsers */
  
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
}

.mdh-expandable-search input::-webkit-input-placeholder { /* WebKit browsers */
    color:    #FFFFFF;
}
.mdh-expandable-search input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #FFFFFF;
   opacity:  1; /* Firefox gives the placeholder a reduced opacity so we have to increase it */
}
.mdh-expandable-search input::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #FFFFFF;
   opacity:  1; /* Firefox gives the placeholder a reduced opacity so we have to increase it */
}
.mdh-expandable-search input:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #FFFFFF;
}


/* Bug fix: https://github.com/google/material-design-lite/issues/1078
 * To much padding on the left of header when the menu button is hidden */
@media screen and (min-width: 851px) {
  .mdl-layout__header-row {
    padding: 0 40px 0 40px;
  }
}

/* Bug fix for badges being in the wrong location */
.mdl-badge[data-badge]:after {
  right: -7px;
  top: -8px;
}

.filters {
  background-color: white;
  border-radius: 2px;
  text-align: center;
}